apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: tenant-a
  labels:
    app: frontend
    tenant: user-a
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
        tenant: user-a
    spec:
      containers:
      - name: frontend
        image: ecommerce-frontend:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 3000
          name: http
        env:
        - name: NODE_ENV
          value: "production"
        - name: PORT
          value: "3000"
        - name: NEXT_PUBLIC_API_URL
          value: "http://backend:3000"
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
