apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: tenant-a
  labels:
    app: frontend
    tenant: user-a
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
  - name: http
    port: 3000
    targetPort: 3000
    nodePort: 30080
    protocol: TCP
